[Unit]
Description=XMR Miner
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
GuessMainPID=no
ExecStart=/usr/local/bin/xmr-stak -c /usr/local/bin/xmr-stak/config.txt
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
