[Unit]
Description=XMR Miner
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
WorkingDirectory=/tmp
ExecStart=./home/$USER/xmr-stak/build/bin/xmr-stak
Restart=always
User=root

[Install]
WantedBy=multi-user.target
